<log4net debug="false">

    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    
    <!-- Log All  -->
    <appender name="FileAppender" type="log4net.Appender.FileAppender" >
        <file type="log4net.Util.PatternString" value="../../../Resource/log/log.log" />
        <appendToFile value="true" />
        <!-- <rollingStyle value="Size" /> -->
        <!-- <maxSizeRollBackups value="5"/> -->
        <!-- <maximumFileSize value="5GB"/> -->
        <!-- <staticLogFileName value="true" /> -->
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss.ffff} [%thread] %-5level %logger : %message%newline%exception" />
        </layout>
    </appender>
    
    <!-- Log Roll perday -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="../../../Resource/log/log_%date{yyyyMMdd}.log" />
        
        <filter type = "log4net.Filter.LevelRangeFilter">
            <levelMin value = "DEBUG"/>
            <levelMax value ="ERROR"/>
        </filter>
        
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="2GB" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value="yyyyMMdd" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss.ffff} [%thread] %-5level %logger : %message%newline%exception" />
        </layout>
    </appender>

    <!-- console log -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
        
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss.ffff} [%thread] %level %logger.%M : %message%newline%exception" />
        </layout>
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender" >
        
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss.ffff} [%thread] %level %logger.%M : %message%newline%exception" />
        </layout>
    </appender>
    
    <appender name="FileAppenderError" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="../../../Resource/log/log_error_%date{yyyyMMdd}.log" />

        <filter type = "log4net.Filter.LevelMatchFilter">
            <levelToMatch value = "ERROR"/>
        </filter>
        <filter type = "log4net.Filter.DenyAllFilter"/>


        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value="yyyyMMdd" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger – %message%newline%exception" />
        </layout>
    </appender>




    <root>
        <level value="ALL" />
        <appender-ref ref="FileAppender" />
        <appender-ref ref="RollingFileAppender" />
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="DebugAppender" />
    </root>
    
</log4net>